<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:utext="#{admin.manageStaff.page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
<body>
 <header th:insert="admin_homepage.html :: header"> </header>
 <h2 th:utext="#{admin.manageStaff.page.title}"></h2>
 <a href="/admin/manageStaff/details">View</a>
 <a href="/admin/manageStaff/add">Add</a>
</body>
</html>