<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{admin.manageLeaveType.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>

	<header th:insert="admin_homepage.html :: header"> </header>

	<div class="content">
		<h2 th:utext="#{admin.manageLeaveType.page.title}"></h2>
		
		<table class="list">
			<tr>
				
				<th th:utext="#{admin.manageStaff.Designation}"></th>
				<th th:utext="#{admin.manageLeave.LeaveType}"></th>
				<th th:utext="#{admin.manageLeave.Entitlement}"></th>
				<th th:utext="#{admin.manageLeave.MinClaim}"></th>
				<th th:utext="#{button.edit}"></th>

			</tr>
			<tr th:each="leavetype:${leavetypes}">
				
				<td th:text=${leavetype.designation}>Designation</td>
				<td th:text=${leavetype.leaveType.displayValue}>LeaveType</td>
				<td th:text=${leavetype.entitlement}>Entitlement</td>
				<td th:text=${leavetype.minClaim}>MinClaim</td>
				<td><a th:href="${'/admin/manageLeaveType/edit/' + {leavetype.leaveType} +'/' + {leavetype.designation}}"><button style="width:49%; margin-left:25.5%; background-color: grey" th:utext="#{button.edit}"></button></a></td>

			</tr>
		</table>
		<div class="zoom">
			<a href="/admin/.home"><button style="background-color:grey;" th:utext="#{page.back}"></button></a>
		</div>
	</div>

</body>
</html>