<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{admin.manageStaff.add.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="admin_homepage.html :: header"> </header>

	<div class="content">
		<h2 th:utext="#{admin.manageStaff.add.page.title}"></h2>
		<a href="Back.html" th:href="@{/admin/manageStaff}" th:utext="#{page.back}">Back</a>
		
		<form action="#" th:object="${staff}"
			th:action="@{/admin/manageStaff/save}" method="post">
			
			<table class="list">
				<tr>
					<input type="hidden" th:field="*{staffId}">
				</tr>
				<tr>

					<td th:utext="#{admin.manageStaff.UserName}">User Name</td>
					<td><input type="text" th:field="*{username}">
						<p th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Password}">Password</td>
					<td><input type="text" th:field="*{password}">
						<p th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Email}">Email</td>
					<td><input type="text" th:field="*{email}">
						<p th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.StartDate}">Start Date</td>
					<td>				
						<input type="date" th:field="*{startDate}">
						<p th:if="${#fields.hasErrors('startDate')}"
							th:errors="*{startDate}" /></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Designation}">Designation</td>
					<td><select th:field="${staff.designation}">
							<option
								th:each="designationOptn : ${T(SA50.T6.WadCA.LAPS.model.Staff.Designation).values()}"
								th:value="${designationOptn}" th:text="${designationOptn}"></option>
					</select></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.ManagedBy}">Managed By</td>
					<td><select th:field="*{manager.username}">
							<option th:each="managerName : ${managerNames}" th:value="${managerName}"
								th:text="${managerName}"></option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Save"/> &nbsp; &nbsp; <input
						type="reset" value="Reset"/></td>
				</tr>

			</table>
		</form>
	</div>

</body>
</html>