<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{admin.manageStaff.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="admin_login.html :: header"> </header>

	<div class="content">
		<h2 th:utext="#{admin.manageStaff.page.title}"></h2>
		<a href="/admin/homepage">Back</a> | <a href="/admin/manageStaff/add">Add
			New Staff</a>
		<h2 th:if="${not #lists.isEmpty(staffs)}">Staff List</h2>
		<br />
		<form th:action="@{/admin/manageStaff/search}">
			<table style="width:30%">
				<tr>
					<td><input type="text" name="username"
						placeholder="Enter username"/>
						<button style="background-color:black">Search</button></td>
				</tr>
			</table>

		</form>
		<br />
		<table class="list" th:if="${not #lists.isEmpty(staffs)}">
			<tr>
				<th>Staff Id</th>
				<th>User Name</th>
				<th>Start Date</th>
				<th>Designation</th>
				<th>Detail</th>
			</tr>
			<tr th:each="staff:${staffs}">
				<td th:text=${staff.staffId}>Staff Id</td>
				<td th:text=${staff.username}>User Name</td>
				<td th:text=${staff.startDate}>Start Date</td>
				<td th:text=${staff.designation}>Designation</td>
				<td><a href="DetailStaff.html"
					th:href="@{/admin/manageStaff/details/}+${staff.staffId}">Detail</a></td>
			</tr>
		</table>
	</div>

</body>
</html>