<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:utext="#{admin.manageStaff.add.page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/main.css" th:href="@{/css/main.css}" />
  </head>
<body>
 <header th:insert="admin_login.html :: header"> </header>

 	<div class="content">
	 	<h2 th:utext="#{admin.manageStaff.add.page.title}"></h2>
	</div>
	 
</body>
</html>