<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{admin.manageStaff.edit.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="admin_homepage.html :: header"> </header>

	<div class="content">
		<h2 th:utext="#{admin.manageStaff.edit.page.title}"></h2>
		
		<form action="#" th:object="${staff}"
			th:action="@{/admin/manageStaff/edit/save}" method="post">
			<table class="list">


				<tr>

					<input type="hidden" th:field="*{staffId}">
				</tr>
				<tr>

					<input type="hidden" th:field="*{username}">
				</tr>
				
				<tr>

					<td th:utext="#{admin.manageStaff.UserName}">User Name</td>
					<td th:text="*{username}"></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Password}">Password</td>
					<td><input type="text" th:field="*{password}">
						<p th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Email}">Email</td>
					<td><input type="text" th:field="*{email}">
						<p th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.StartDate}">Start Date</td>
					<td><input type="date" th:field="*{startDate}"/>
						<p th:if="${#fields.hasErrors('startDate')}"
							th:errors="*{startDate}" /></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.Designation}">Designation</td>
					<td><select th:field="${staff.designation}">
							<option
								th:each="designationOptn : ${T(SA50.T6.WadCA.LAPS.model.Staff.Designation).values()}"
								th:value="${designationOptn}" th:text="${designationOptn}"></option>
					</select></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.ManagedBy}">Managed By</td>
					<td><select th:field="*{manager.username}">
							<option th:each="managerName : ${managerNames}" th:value="${managerName}"
								th:text="${managerName}"></option>
					</select></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.TotalAnnualLeave}">Total Annual Leave</td>
					<td><input type="text" th:field="*{totalAnnualLeave}">
						<p th:if="${#fields.hasErrors('totalAnnualLeave')}"
							th:errors="*{totalAnnualLeave}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.TotalMedicalLeave}">Total Medical Leave</td>
					<td><input type="text" th:field="*{totalMedicalLeave}">
						<p th:if="${#fields.hasErrors('totalMedicalLeave')}"
							th:errors="*{totalMedicalLeave}"></p></td>
				</tr>
				<tr>
					<td th:utext="#{admin.manageStaff.TotalCompensationLeave}">Total Compensation Leave</td>
					<td><input type="text" th:field="*{totalCompensationLeave}">
						<p th:if="${#fields.hasErrors('totalCompensationLeave')}"
							th:errors="*{totalCompensationLeave}"></p></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Save"/> &nbsp; &nbsp; <input
						type="reset" vale="Reset"/></td>
				</tr>

			</table>
			
		</form>
		<div class="zoom">
			<a href="Back.html" th:href="@{/admin/manageStaff}"><button style="background-color:grey;" th:utext="#{page.back}"></button></a>
		</div>
		
	</div>
</body>
</html>