<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{manager.homepage.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	 <header th:fragment="header">
 		<div class="topnav" id="myTopnav">
 			<a><i class="fa fa-leaf" aria-hidden="true" style="font-size:20px"></i></a>
 			
 			<a href="/manager/home" th:utext="#{page.home}"></a>
 			<button class="logout" type="button" onclick="location.href='/LAPS'" value="Logout" th:utext="#{page.logout}"></button>
 			
 			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
 			<i class="fa fa-bars"></i>
 			</a>
 		</div>
 		
 		<div class="footer">
 			<p th:utext="#{page.footer}"></p>
 		</div>
 	 </header>
	 
	 <div class="content">
	 	<h2 th:utext="#{manager.homepage.page.title}"></h2>
	 	  <div class="menu">
	 	  	<ul>
	 	  		<li>
	 	  			<button type="button"  onclick="location.href='/manager/approval'" value="View Leave Application for Approval" th:utext="#{manager.button.approval}"></button>
	 	  		</li>
	 	  		<li>
	 	  			<button type="button"  onclick="location.href='/manager/subordinateLeave'" value="View all subordinate leave" th:utext="#{manager.button.subordinateLeave}"></button>
	 	  		</li>
	 	  	</ul>
	 	  </div>
	 </div>

</body>
</html>