<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{manager.approval.details.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="manager_homepage.html :: header"> </header>
	 
	 <div class="content">
	 	<h1 th:utext="#{manager.approval.details.page.title}">Leave Details</h1>
	 	<table  class="list">
	 	<tr><td>From</td><td th:text="${leave.leaveStartDate}"></td></tr>
	 	<tr><td>To</td><td th:text="${leave.leaveEndDate}"></td></tr>
	 	<tr><td>Category</td><td th:text="${leave.leaveTypeDisplay}"></td></tr>
	 	<tr><td>Status</td><td th:text="${leave.leaveStatus.displayValue}"></td></tr>
	 	<tr><td>Reason</td><td th:text="${leave.reason}"></td></tr>
	 	<!--  <tr><td>Work Dissemination</td><td th:text="${leave.workDissemination}"></td></tr>-->
		</table>
		<div class="status">
	 	  	<ul>
	 	  		<li>
	 	  			<a th:href="@{/manager/approval}"><button style="background-color:grey">Back</button></a>
	 	  			<a th:href="@{/manager/approve}"><button style="background-color:green">Approve</button></a>
					<a th:href="@{/manager/reject}"><button style="background-color:red">Reject</button></a>
				   <a href="manager_PastLeaveRecords.html" th:href="@{/manager/history/}+#{session.staff.staffId}">
					<button style="background-color:grey" th:utext="#{manager.history.page.title}"> </button></a>
	 	  		</li>
	 	  	</ul>
	 	</div>
			
	 </div>

</body>
</html>