<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{manager.approval.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
<script type="text/javascript" src="../../js/search.js"></script>
</head>
<body>
	<header th:insert="manager_homepage.html :: header"> </header>
	 
	 <div class="content">
	 	<h2 th:utext="#{manager.approval.page.title}"></h2>
	 	<input id="userInput" type="text" placeholder="Search..">
	 	<table class="list">
	 	<thead>
	 	<tr>
	 		<th style="width:20%" th:utext="#{table.heading.empId}"></th>
			<th style="width:22.5%" th:utext="#{table.heading.from}"></th>
			<th style="width:22.5%" th:utext="#{table.heading.to}"></th>
			<th style="width:17.5%" th:utext="#{table.heading.status}"></th>
			<th style="width:17.5%" th:utext="#{table.heading.action}"></th>
		</tr>
		</thead>
		
		<tbody id="leaveRecordTable">
		<tr th:if="${#lists.isEmpty(lrecords)}">
			<td colspan="5" th:utext="#{manager.message.nopendingleave}"></td>
		</tr>
		<tr th:if="${not #lists.isEmpty(lrecords)}" th:each="lrecord:${lrecords}">
			<td th:text=${lrecord.staffId}></td>
			<td th:text=${lrecord.leaveStartDate}></td>
			<td th:text=${lrecord.leaveEndDate}></td>
			<td th:text=${lrecord.leaveStatus}></td>
			<td><a href="manager_approvalDetails.html"
				th:href="@{/manager/staffLeaveDetails/}+${lrecord.leaveId}" th:utext="#{manager.approval.details.page.title}"></a>
				<a th:href="@{/manager/history/}+${lrecord.staffId}" th:utext="#{manager.history.page.title}"></a></td>
		</tr>
		</tbody>
		</table>
	 </div>

</body>
</html>