<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.applyLeave.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<header th:insert="staff_login.html :: header"> </header>
	<div class="content">
		<h2 th:utext="${session.staff.username}">Session</h2>
		<h2 th:utext="#{staff.applyLeave.title}"></h2>
		<h3 th:if="${not #lists.isEmpty(lrecords)}">Search</h3>
		<form th:action="@{/staff/search}" method="post">
			<fieldset>
				<!--Category <select th:field=${staff.designation.designation}>-->
				Category <select th:field=${staff.designation}>
					<option th:each="leave:${leaveTypeList}" th:value="${leave}"
						th:text="${leave}">
				</select>
			</fieldset>
			<fieldset>
				<!--  Status <select th:field=${staff.leaveStatus}>-->
				Status <select>
					<option th:each="status:${leaveStatuses}" th:value="${status}"
						th:text="${status}">
				</select>
			</fieldset>
			<fieldset>
				<button type="submit">Search</button>
			</fieldset>
		</form>


		<h3 th:if="${not #lists.isEmpty(lrecords)}">Listing</h3>
		<table class="w3-container" th:if="${not #lists.isEmpty(lrecords)}">
			<tr th:each="leave:${lrecords}">
				<td th:text="${leave.leaveStartDate}">From</td>
				<td th:text="${leave.leaveEndDate}">To</td>
				<td th:text="${leave.leaveType}">Category</td>
				<td th:text="${leave.leaveStatus}">Status</td>
				<!--<td th:href="@{/staff/history/details} + ${leave.id}">Action</td>-->
		</table>
		<p>
			<a href="staff_applyLeave_add.html" th:href="@{/staff/apply/add}"><button>Add</button></a>
		</p>
	</div>


</body>
</html>