<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:utext="#{staff.applyLeave.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/style.css" th:href="@{/css/style.css}" />
  </head>
<body>
 <header th:insert="staff_homepage.html :: header"> </header>
 <h2 th:utext="#{staff.applyLeave.title}"></h2>
 <h3 th:if="${not #lists.isEmpty(lrecords)}">Listing</h3>
 <table class="w3-container" th:if="${not #lists.isEmpty(lrecords)}">
 	<tr th:each="leave:${lrecords}">
 		<td th:text="${leave.staffId}"> Staff ID</td>
 		<td th:text="${leave.staffId.username}"> User Name</td>
 		<td th:text="${leave.designation}"> Designation</td>
 		<td th:href="@{/staff/history/details}"> View</td>
 </table>
 

</body>
</html>