<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.homepage.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:fragment="header">
 		<div class="topnav" id="myTopnav">
 			<img src="../../images/logo.png">
 			
 			<a onclick="location.href='/staff/.home'">Home</a>
 			<button class="logout" type="button" onclick="location.href='/LAPS'" value="Logout">Logout</button>
 			
 			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
 			<i class="fa fa-bars"></i>
 			</a>
 		</div>
 		
 		<div class="footer">
 			<p>Company Name &copy; All rights reserved.</p>
 		</div>
 	</header>

	<div class="content">
		<h2 th:utext="#{session.display.welcome}+${session.display}">Session
			Data</h2>
		<h2 th:utext="#{staff.homepage.page.title}"></h2>
		<div class="menu">
			<ul>
				<li>
					<button type="button" onclick="location.href='/staff/apply'"
						value="Apply Leave">Apply Leave</button>
				</li>
				<li>
					<button type="button" onclick="location.href='/staff/balance'"
						value="View Leave Balance">View Leave Balance</button>
				</li>
				<li>
					<button type="button" onclick="location.href='/staff/history'"
						value="View Personal Leave History">View Personal Leave
						History</button>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>




