<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:utext="#{staff.leaveHistory.page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/main.css" th:href="@{/css/main.css}" />
  </head>
<body>
 <header th:insert="staff_login.html :: header"> </header>
 <h2 th:utext="#{staff.leaveHistory.page.title}"></h2>
 <a href="/staff/staff_leaveHistory_details">View</a>
</body>
</html>