<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.leaveBalance.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="staff_homepage.html :: header"> </header>
	<div class="content">
		<h2 th:utext="#{staff.leaveBalance.page.title}"></h2>

		<table class="list" th:object="${staff}">
			<tr>
				<td>Remaining Annual Leave</td>
				<td><p th:text="*{totalAnnualLeave}"></p></td>
			</tr>
			<tr>
				<td>Remaining Medical Leave</td>
				<td><p th:text="*{totalMedicalLeave}"></p></td>
			</tr>
			<tr>

				<td>Remaining Compensation Leave</td>
				<td><p th:text="*{totalCompensationLeave}"></p>
			</tr>
		</table>

	</div>
</body>
</html>