<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.login.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>

 <header th:fragment="header">
 		<div class="topnav" id="myTopnav">
 			<a><i class="fa fa-leaf" aria-hidden="true" style="font-size:20px"></i></a>
 			
 			<a onclick="location.href='/LAPS'" th:utext="#{page.home}"></a>
 			
 			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
 			<i class="fa fa-bars"></i>
 			</a>
 		</div>
 		
 		<div class="footer">
 			<p th:utext="#{page.footer}"></p>
 		</div>
 </header>
 
 <div class="content">
  <h2 th:utext="#{staff.login.page.title}"></h2>
  <div class="menu">
    <ul>
      <li>
      	<button onclick="document.getElementById('admin').style.display='block'" href="#approval">Login</button>
      </li>
    </ul>
  </div>
  
  <div id="admin" class="modal">
          <form class="modal-content animate" th:object="${staff}" th:action="@{/staff/home}" action="/action_page.php" method="post">
            <div class="container">
              <h2 th:utext="#{staff.login.page.title}">Staff Login</h2>
              <h2 th:text="${error}"></h2>
              		<label for="uname">
					<h4 h4 th:utext="#{admin.login.username}">Username</h4>
					</label>
						<input type="text" placeholder="Enter Username" th:field="*{username}" name="uname" required>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

					<label for="psw">
					<h4 th:utext="#{admin.login.password}">Password</h4>
					</label>
						<input type="password" placeholder="Enter Password" th:field="*{password}" name="psw" required>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

					<!-- <button type="button"  onclick="location.href='/staff/home'" value="home">Login</button> -->
				</div>

				<div class="container" style="background-color: #f1f1f1">
					<button type="submit" th:utext="#{page.login}">Login</button>
					<button type="button" th:utext="#{button.cancel}" onclick="document.getElementById('admin').style.display='none'"
						class="cancelbtn">Cancel</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>