<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.leaveHistory.details.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
<script type="text/javascript" src="../../js/search.js"></script>
</head>
<body>
	<header th:insert="staff_homepage.html :: header"> </header>

	<div class="content">
		<h1 th:utext="#{staff.leaveHistory.details.page.title}">Leave
			Details</h1>

		<table class="details">
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.from}"></th>
				<td th:text="${leave.leaveStartDate}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.to}"></th>
				<td th:text="${leave.leaveEndDate}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.leavetype}"></th>
				<td th:text="${leave.leaveType.displayValue}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.contact}"></th>
				<td th:text="${leave.contact}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.reason}"></th>
				<td th:text="${leave.reason}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.workdissemination}"></th>
				<td th:text="${leave.workDissemination}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{table.heading.status}"></th>
				<td th:text="${leave.leaveStatus.displayValue}"></td>
			</tr>
			<tr>
				<th style="width: 20%" th:utext="#{leaveRecord.resonForRejection}"></th>
				<td th:text="${leave.reasonForRejection}"></td>
			</tr>
		</table>

		<div class="status">
			<table>
				<tr>
				<td><a href="Back.html" th:href="@{/staff/apply}">Back</a></td>
				<td><a
						th:if="${leave.leaveStatus == T(SA50.T6.WadCA.LAPS.model.LeaveStatus).APPLIED} or ${leave.leaveStatus == T(SA50.T6.WadCA.LAPS.model.LeaveStatus).UPDATED} "
						th:href="@{/staff/history/details/edit/}+${leave.leaveId}">
							<button style="background-color: grey">Update</button>
					</a>
					<a
						th:if="${leave.leaveStatus == T(SA50.T6.WadCA.LAPS.model.LeaveStatus).APPLIED} or ${leave.leaveStatus == T(SA50.T6.WadCA.LAPS.model.LeaveStatus).UPDATED} "
						th:href="@{/staff/apply/delete/}+${leave.leaveId}">
							<button style="background-color: red">Delete</button>
					</a> 
					<td><a
						th:if="${leave.leaveStatus == T(SA50.T6.WadCA.LAPS.model.LeaveStatus).APPROVED}"
						th:href="@{/staff/apply/cancel/}+${leave.leaveId}">
							<button style="background-color: green">Cancel</button>
					</a></td>

				</tr>
			</table>

		</div>
	</div>
</body>
</html>