<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{staff.leaveHistory.details.page.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/main.css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="../../js/navbar.js"></script>
<script type="text/javascript" src="../../js/login.js"></script>
</head>
<body>
	<header th:insert="staff_homepage.html :: header"> </header>

	<div class="content">
		<h1 th:utext="#{manager.approval.details.page.title}">Leave
			Details</h1>
		<table class="list">
			<tr>
				<td>From</td>
				<td th:text="${leave.leaveStartDate}"></td>
			</tr>
			<tr>
				<td>To</td>
				<td th:text="${leave.leaveEndDate}"></td>
			</tr>
			<tr>
				<td>Category</td>
				<td th:text="${leave.leaveType.displayValue}"></td>
			</tr>
			<tr>
				<td>Status</td>
				<td th:text="${leave.leaveStatus.displayValue}"></td>
			</tr>
			<tr>
				<td>Reason</td>
				<td th:text="${leave.reason}"></td>
			</tr>
			<tr>
				<td>Work Dissemination</td>
				<td th:text="${leave.workDissemination}"></td>
			</tr>
		</table>

		<a th:href="@{/staff/history/details/edit/}+${leave.leaveId}">
			<button style="background-color: grey">Update</button>
		</a> <a th:href="@{/staff/history/details/delete/}+${leave.leaveId}">
			<button style="background-color: red">Delete</button>
		</a>

	</div>
</body>
</html>