/*body configuration - to set fonts in the body*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*navbar configuration - to set bgcolor of the navbar, overflow is a property specifies what should happen if content overflows an element's box*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

/*company logo configuration*/
.topnav img{
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px 25px;
}

/*links inside navbar (Home etc.) configuration - normal state*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

/*links inside navbar (Home etc.) configuration - mouse hover state*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*logout button inside navbar configuration - normal state*/
.topnav button {
  float: right;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  color: #f2f2f2;
  background-color: #333333;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

/*logout button inside navbar configuration - mouse hover state*/
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

/*Hiding navbar icon when screen is more than 600 pixels wide*/
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the "Company Logo". 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav button:not(:first-child) {display: none;}
  .topnav button.icon {
    float: right;
    display: block;
  }
}

/*configuration on links & buttons when screen is smaller than or equal to 600 pixels wide*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive button {
    float: right;
    display: block;
    text-align: left;
  }
  .topnav.responsive img {
    float: none;
    display: block;
    text-align: left;
  }
}

/*content configuration - general*/
.content{
  padding: 20px;
}

.content .userInfo h3{
  text-align:center;
}

.content .menu ul{
  list-style: none;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .menu li{
  display:flex;
  justify-content: center;
}

.content .menu button{
  width: 350px;
  border-radius: 12px;
  background-color: #333;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.content .menu button:hover {
  background-color: #ddd;
  color: black;
}

/* Full-width input fields */
.content input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.content button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.content button:hover {
  opacity: 0.8;
}

.content table{
	margin-left:auto; 
    margin-right:auto;
	width: 70%;
}

.content th, td{
	padding: 15px;
}

.content table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

.content tr:nth-child(even) {
  background-color: #eee;
}

.content tr:nth-child(odd) {
  background-color: #fff;
}

.content th {
  color: white;
  background-color: #3D4041;
}

/* Extra styles for the cancel button */
.content .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.content .container {
  padding: 16px;
}

.content span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.content .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.content .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.content .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.content .close:hover,
.content .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.content .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: #A9A9A9;
   text-align: left;
   font-size: 12px;
   padding: 0px 25px;
}