/*body configuration - to set fonts in the body*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*navbar configuration - to set bgcolor of the navbar, overflow is a property specifies what should happen if content overflows an element's box*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

/*company logo configuration*/
.topnav img{
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px 25px;
}

/*links inside navbar (Home etc.) configuration - normal state*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

/*links inside navbar (Home etc.) configuration - mouse hover state*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*logout button inside navbar configuration - normal state*/
.topnav button {
  float: right;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  color: #f2f2f2;
  background-color: #333333;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

/*logout button inside navbar configuration - mouse hover state*/
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

/*Hiding navbar icon when screen is more than 600 pixels wide*/
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the "Company Logo". 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav button:not(:first-child) {display: none;}
  .topnav button.icon {
    float: right;
    display: block;
  }
}

/*configuration on links & buttons when screen is smaller than or equal to 600 pixels wide*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive button {
    float: right;
    display: block;
    text-align: left;
  }
  .topnav.responsive img {
    float: none;
    display: block;
    text-align: left;
  }
}

/*content configuration - general*/
.content{
  padding: 20px;
}

.content .userInfo h3{
  text-align:center;
}

.content .menu ul{
  list-style: none;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .menu li{
  display:flex;
  justify-content: center;
}

.content .menu button{
  width: 350px;
  border-radius: 12px;
  background-color: #333;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.content .menu button:hover {
  background-color: #ddd;
  color: black;
}

.content .filter select {
  display: block;
  float: left;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 15%;
  max-width: 15%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 25px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
     for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}

.content .filter select::-ms-expand{
  display: none;
}

.content .filter select:hover{
  border-color: #888;
}

.content .filter select:focus{
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.content .filter option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .content .filter select, :root:lang(ar) .content .filter select, :root:lang(iw) ..content .filter select{
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}
/* Disabled styles */
.content .filter select:disabled, .content .filter select[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.content .filter select:disabled:hover, .content .filter select[aria-disabled=true] {
  border-color: #aaa;
}

.content .search input[type=text] {
  width: 15%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.content .search input[type=text]:focus {
  width: 100%;
}

.content .status ul{
  list-style: none;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 77%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .status li{
  display:flex;
  justify-content: center;
}

.content .status a{
  width: 100px;
  margin: 4px 15px;
}
.content .status button{
  width: 185px;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 35px;
}

.content .status button:hover {
  height: 60px;
  font-size: 16px;
}

/* Full-width input fields */
.content input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.content button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.content button:hover {
  opacity: 0.8;
}

.content table, th, td{
  border-collapse: collapse;
  border: 1px solid white;
}

.content table{
	margin-left:auto; 
    margin-right:auto;
	width: 70%;
}

.content th, td{
  padding: 15px;
}

.content .list tr:nth-child(even) {
  background-color: #eee;
}

.content .list tr:nth-child(odd) {
  background-color: #fff;
}

.content .list th {
  color: white;
  background-color: #3D4041;
}

.content .details tr{
  background-color: #f2f2f2;
}

/* Extra styles for the cancel button */
.content .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.content .container {
  padding: 16px;
}

.content span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.content .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.content .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.content .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.content .close:hover,
.content .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.content .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: #A9A9A9;
   text-align: left;
   font-size: 12px;
   padding: 0px 25px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.content .open-button {
  background-color: red;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  top: 51.5%;
  left: 76%;
  width: 185px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 35px;
  text-align: center;
  text-decoration: none;  
}

.content .open-button:hover {
  height: 60px;
  font-size: 16px;
}

/* The popup form - hidden by default */
.content .form-popup {
  display: none;
  position: fixed;
  top: 55.5%;
  left: 74%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.content .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.content .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.content .form-container .btn {
  background-color: #red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.content  .form-container .cancel {
  background-color: grey;
  width:90%;
  margin-left:5%;
}

/* Add some hover effects to buttons */
.content .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}